@import "common.less";

#map {
  height: 180px;
  img {
    box-shadow: none;
  }
}


.well {
  h4 {
    // .section-header;
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0px;
    font-family: martel;
    text-align: center;
    line-height: 24px;
    color: #000;
  }
  p{
    text-align: center;
    text-transform: uppercase;
    font-family: "fira sans",sans-serif;
    color: #999;
    border-top: 1px solid #DADADA;
    padding: 10px 0px;
    font-size: 12px;
    letter-spacing: 0.6px;
    margin:0px;
  }

  a {
      color: @headingsColor;
  }
}
